/*  root  */
:root{
    --background:#282a36;
    --bg-menu:rgba(0, 0, 0, 0.9);
    --color-red:#ce2e3c;
    --color-white:#f8f8f2;
    --color-orange:#ffb86c;
}

/*  reset  */
*{margin: 0px; padding: 0px; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
body{background-color: var(--background);}
a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%;}

/*====CONTAINER====*/
.container{
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

/*====HEADER====*/
.logo{
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo-mobile.png) center center/56px no-repeat;
    font-size: 0;
}

.btn-menu{
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    border-radius: 56px;
    color: var(--color-red);
    cursor: pointer;
    background-color: var(--background)
}

/*====MENU====*/
.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--bg-menu);
    top: 0;
    left: 0;
}

.btn-close{
    font-size: 2em;
    color: var(--color-red);
    float: right;
    cursor: pointer;
    margin: 5%;
}

.menu ul {
    margin-top: 20%;
    width: 100%;
    float: left;
    text-align: center;
}

.menu li{padding:2%;}

.menu li a {
    font-size:1.7em;
    color:var(--color-white);
    padding: 1.5% 3%;
}

.menu li a:hover{color: var(--color-orange)}

/*====BANNER====*/
.banner{background: url(../img/bg.jpg) no-repeat fixed;}

.title{width: 100%;}

.title h2{
    font-size: 2.5em;
    color:var(--color-white);
    font-weight: 700;
}

.title h3{
    font-size: 1.2em;
    color:var(--color-white);
}

.buttons{
    width: 100%;
    margin-top: 2%;
}

.align{margin-top: 2%;}
.buttons i {float: right;}

.btn{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
}

.btn-register{
    background-color: var(--color-white);
    color: var(--background);
}

.btn-about{
    margin-top: 3%;
    background-color: var(--background);
    color: var(--color-white);
}

/*====SERVICES====*/
.services{margin-top: 3%;}

.service{
    width: 100%;
    background-color: var(--color-red);
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}

.service img{border-radius: 7px 7px 0 0;}
.inner{padding: 7%;}

.inner a{
    font-size: 1.29em;
    color: var(--background);
    font-weight: 800;
}

.inner h4{
    font-size: 1.2em;
    color: var(--color-white);
    margin-top: 2%;
    font-weight: 590;
}

.inner p{
    margin-top: 5%;
    color: var(--color-white);
    line-height: 1.5em;
}

/*====NEWSLETTER====*/
.newsletter{background-color: var(--color-white);}

.newsletter h2{
    font-size: 1.5em;
    color: var(--background);
    font-weight: 700;
}

.newsletter h3{color: var(--background);}
.newsletter form{margin: 2% 0 4% 0;}

.newsletter button {
    border-radius: 10px;
    padding: 2%;
    background-color: var(--color-red);
    cursor: pointer;
}

.newsletter input{
    border: 1px solid var(--background);
    border-radius: 10px;
    padding: 2%;
    width: 71.5%
}

/*====FOOTER====*/
.footer{
    background-color: var(--background);
    margin-bottom: 3%;
}

.social-icons a {
    font-size: 1.5em;
    color: var(--color-red);
    opacity: 0.6;
    margin-right: 3%;
}

.social-icons a:hover{opacity: 1;}
.social-icons a:last-child{margin-right: 0;}
.copyright{margin-top:2%;}

/*=======MOBILE FIRST=======*/
/*SMALL DEVICES - SMARTPHONES*/
@media screen and (min-width: 480px){
    .logo{
        width: 214px;
        background: url(../img/logo.png) center center/214px no-repeat;
    }
    .align{margin-top: 1.5%;}
}

/*SMALL DEVICES - TABLETS*/
@media screen and (min-width: 712px){
    .service{
        width:49%;
        float:left;
        margin-right: 2%;
    } 

    .service:nth-child(1){padding-bottom: 3.5%;}
    .service:nth-child(2){margin-right: 0;}
    .align{margin-top: 1%;}
    .social-icons a {font-size: 2em;}
}

/*SMALL DEVICES - TABLETS AND NOTEBOOKS*/
@media screen and (min-width: 960px){
    .title{
        width: 70%;
        float: left;
        text-align: left;
        padding-right: 1%;
    }

    .buttons{
        width: 30%;
        float: right;
        margin-top: 0;
    }
    
    .btn-close{
        font-size: 2.5em;
        margin: 3%;
    }

    .service{width:32%;}
    .copyright{font-size: 1.2em;}
    .service:nth-child(1){padding-bottom: 5.6%;}
    .service:nth-child(2){margin-right: 2%;}
    .service:nth-child(3){margin-right: 0; padding-bottom: 5.8%;}
    .menu ul {margin-top: 0;}
    .menu li{padding:1%;}
    .menu li a {font-size:2em;}
    .title h2{font-size: 3em;}
    .title h3{font-size: 2em;}
}

/*LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1280px){
    .menu{
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: var(--background);
        display: block !important;
        position: static;
    }

    .menu li{
        padding: 0;
        float: left;
    }

    .menu li a{
        color: var(--color-white);
        font-size: 1.6em;
        padding: 15px;
    }

    .btn-menu, .btn-close{display: none;}
    .copyright{font-size: 1.2em;}
    .newsletter button {padding: 1%;}
    .newsletter input{padding: 1%;}
    .service:nth-child(1){padding-bottom: 2%;}
    .service:nth-child(2){padding-bottom: 0;}
    .service:nth-child(3){margin-right: 0; padding-bottom: 0;}
}

/*LARGE DEVICES - TV SCREENS*/
@media screen and (min-width: 1920px){
    .service:nth-child(1){padding-bottom: 2%;}
    .service:nth-child(2){padding-bottom: 0.6%;}
    .service:nth-child(3){margin-right: 0; padding-bottom: 1.9%;}
}